.navstyle{
    background-color: #badffd;
    text-align:left;
    height: 75px;
}
.nav-item:hover{
  background-color: aliceblue;
  border: 1px ridge blueviolet;
border-radius: 4px;
padding: 2px;
font-weight:500;
font-style: italic;
 }

.nav-item{
    font-size:18.5px;
    font-family: graduate;

}

.clearfix{
    background-color: #cde9ff;
    padding:20px;
    text-align:center;
    width:350;
    border:2px ridge rgb(191, 191, 255);
    font-size: large;
    margin-left :100px;
    border-radius: 5px;
}
h5{
    text-align: center;
    background-color: #d7edff;
}
body{
    background-color:aliceblue;
}
.h4 
{
    text-align: center;
    color: crimson;
} 

.doc{
    
}
.h1 h6{
    tab-size:20px;
    margin-top: 12px;
    color:brown;
    
}
.h1 img{
    border-radius: 50%;
    border: 2px ridge rgb(105, 105, 238);
}
h6{
    font-size: large;
    text-align: center;
    color:rgb(30, 30, 179);
    font-style: italic;
}
.footer {
    background-image: url("foo.jpg");
    background-repeat: no-repeat;
    background-size: 1350px 900px;
    }
.foot{ 
    margin-left: 40px;
}
.foo{
    margin-right: 290px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
   .accordion:hover {
    background-color: rgb(176, 220, 250);
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  #mySidenav a {
    position: absolute; 
    left: -115px; 
    transition: 0.3s;
    padding: 15px; 
    width: 150px; 
    text-decoration: none;
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0; 
  }
  
  #mySidenav a:hover {
    left: 0; 
  }
  
  #emergency {
    right: 20%;
    background-color: #04AA6D;
  }
  
  #blog {
    background-color: #f32f21; 
  }
  
.doc img{
    background-color: #badffd;
    height:215;
    width: 100%;
    margin-top: 8px;
}
.doc img:hover{
    border: 2px ridge #badffd;
    padding: 3px;  
}
h2{
  color:rgb(0, 90, 143);
  margin-top: 10px;
  margin-bottom: 10px;
}

    .fa {
      padding: 10px;
      font-size: 25px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    .fa-google {
      background: #f050a0;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    
    .fa-youtube {
      background: #bb0000;
      color: white;
    }
    
    .fa-instagram {
      background: #125688;
      color: white;
    }
    
    .fa-skype {
      background: #1fc0fa;
      color: white;
    }
    